<div ng-include src="url"></div>
<div id="container">
  <div  ng-repeat="image in images"
        class="image-box" masonry>
    <div class="actions">
      <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.seijoimazaki.com&media=http%3A%2F%2Fwww.seijoimazaki.com%2Fapp%2Fimg%2Fseijo-model%2F{{image.filename}}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>

      <div class="fb-like pull-right" data-href="http://www.seijoimazaki.com/img/seijo-model/{{image.filename}}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
    <img ng-src="img/seijo-model/{{image.filename}}" class="image-portrait"
        onclick="$('#seijo-image-modal').modal('show')"
        ng-click='replaceModalImage(image.filename)' />
  </div>
</div>


<!-- Modal -->
<div  id="seijo-image-modal" class="modal hide fade"
      tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
      <img src="img/budozen.jpeg" style="width:40px">
      Seijo Imazaki
    </h3>
  </div>
  <div class="modal-body">
    <img ng-src="{{imageUrl}}"/>
  </div>
</div>
