 <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Seijo Imazaki</a>
      <ul class="nav">
        <li ng-class="musicNav"><a href="#">Music</a></li>
        <li ng-class="karateNav"><a href="#Karate">Karate</a></li>
        <li ng-class="galleryNav"><a href="#Gallery">Gallery</a></li>
        <li ng-class="aboutNav"><a href="#About">About Me</a></li>
        <li ng-class="supportNav"><a href="#Support">Support</a></li>
        <li><a href="http://www.tumblr.com" target="_blank">Blog</a></li>
      </ul>
    </div>
  </div>
