<div ng-include src="url"></div>

<div class="row" >
  <div class="span10 offset3 hero-unit">
    Making music is my life. If you like what
    you hear please support me by buying some of
    my music. Your support helps me keep doing what I love. If not just shoot me an email or like my page on facebook.
  </br>
    <p class="pull-right">Seijo Imazaki</p>
  </div>
</div>
<div class="row">
  <div class="offset3 span5">
    <img src="img/budozen.jpeg" alt="budozen">
  </div>
  <div class="span6">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Song Title</th>
          <th>Price</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products">
            <td>{{$index+1}}</td>
            <td><a href="{{product.short_url}}">{{product.name}}</a></td>
            <td>${{product.price/100}}</td>
            <td class="toCenter"><a href="{{product.short_url}}" class="btn btn-primary btn-mini">
              <i class="icon-hand-up icon-white"></i>
              Buy Mp3</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
